PORT=3000
JWT_SECRET=your_jwt_secret_key_here
SUPERIOR_RESET_PIN=your_superior_reset_pin_here

# MongoDB Atlas Connection URI
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/finewise?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/finewise?retryWrites=true&w=majority
